* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ParteDaLogo {
    display: flex;
    align-items: center;
}

.ParteDaLogo img {
    
    width: 60px;
    margin-right: 15px;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
}

h1 {
    font-size: 30px;
}

body {
    background-color: #FFEBEB;
}
nav {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80vh;
}

.ParteDoTexto {
    width: 50%;
    align-items: right;
}

.partedaimagem img{
    width: 100%;
}

.botoes {
    margin: 20px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
    
}
button{
    padding: 10px 30px;
    border-radius: 10px;
    background: rgb(240,15,163);
    background: radial-gradient(circle, rgba(240,15,163,1) 0%, rgba(156,117,8,1) 100%);

}
